.statistics {
  display: flex;
  flex-direction: column;
  width: 268px;
  height: 130px;
  color: #000;

  margin: 50px auto;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #4d565f;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.statList {
  display: flex;
  align-items: center;
  height: 100%;
  color: #000;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
  color: #ffffff;
}
.label {
  font-size: 12px;
  margin-bottom: 5px;
}
.percentage {
}
