.transactionHistory {
  width: 872px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 15px auto;
}
.transactionHistory tr {
  height: 50px;
  text-align: center;
}
.transactionHistory tr:nth-child(even) {
  background-color: #ecf1f4;
}

.transactionHistory th {
  background-color: #00bcd5;
  border: 1px solid #dde1e4;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.transactionHistory td {
  margin: 0;
  border: 1px solid #dde1e4;
  color: #7b8086;
}
.transactionHistory td:first-child {
  text-transform: capitalize;
}
